body {
	// overflow-x: hidden!important;
	// background: #222427!important;
	background: #33363a!important;
	color: #f2f2f2!important;
	font-family: Montserrat;
	// line-height: 1.7!important;

	a {
		display: inline-block;
		color: #f2f2f2;
		transition: 0.3s ease-in-out; 
		&:hover {
			color: $link-hover;
		}
		&:active {
			color: #f2f2f2;
		}
		&:visited {
			color: #f2f2f2;
		}
	}

	h1,h2,h3,h4,h5,h6 {
		font-family: Asap;
		font-weight: 700;
		color: #f2f2f2;
		margin-bottom: 25px;
	}

	p {
		line-height: 2.1;
		font-size: 1.06em;
		margin-bottom: 30px;
	}

	.section {
			background: $dark;
		}

	.grid-container {
		// background: #33363a;

		// Top Navigation +++++++++++++++++++++++++++++
		.top-nav {
			h5 {
				display: inline-block;
				padding: 10px 15px;
			}
			.nav {
				padding: 30px 50px 5px 50px;

					a.contact {
					font-family: Asap;
					float: right;
					display: inline-block;
					margin: 5px 10px;
					padding: 5px 10px;
					// border-bottom: 2px solid #fff;
					border-width: 90%;
					transition: 0.3s ease-in-out; 
					&:hover {
						color: $link-hover;
					}
				}
			}
			
		}
		// USEFULS +++++++++++++++++++++++++++++
		.break {
			margin-bottom: 5%;
		}
		.item {
			padding: 60px 50px 50px 50px;
			text-align: left;
		}
		.item-img {
			padding: 0 50px 50px 50px;
		}
		.shadow {
			-webkit-box-shadow: -1px 0px 20px 5px rgba(0,0,0,0.75);
			-moz-box-shadow: -1px 0px 20px 5px rgba(0,0,0,0.75);
			box-shadow: -1px 0px 20px 5px rgba(0,0,0,0.75);
		}
		.centered {
			text-align: center;
		}
		.align-right {
			text-align: right;
		}
		.pad {
			padding: 50px;
		}
		.no-pad {
			padding: 0!important;
		}
		.blockquote {
			border-left: 4px solid #fff;
			padding: 0 0 0 20px;
		}

		// Main Content +++++++++++++++++++++++++++++
		.skills {
			img{
				width: 100px;
				margin: 15px 0;
				border-radius: 5px;
			}
		}
		.fact {
			margin: 2em 0em 0em;
		}
		// Animations +++++++++++++++++++++++++++++
		.ani-enlarge {
			overflow: hidden;
			img {
				transform: scale(1.01);
				transition: 0.2s ease-in-out;

				&:hover{
				transform: scale(1.06);
				}
			}
			// transition: 0.2s ease-in-out;

			// &:hover{
			// 	transform: scale(1.00);
			// }
		}
		.ani-bounceUp {

		}
		.animated {
		  animation-duration: 1s;
		  animation-fill-mode: both;
		}
		@keyframes bounceUp {
		  20% {
		    transform: translate3d(0, -10px, 0);
		  }

		  40%, 45% {
		    opacity: 1;
		    transform: translate3d(0, 60px, 0);
		  }

		  to {
		    opacity: 0;
		    transform: translate3d(0, -2000px, 0);
		  }
		}

		.bounceUp {
		  animation-name: bounceUp;
		}
	}

	footer {
		// height: 60px;
		// padding: 65px 20px;
		background: $dark;
		p {
			padding: 10px;
			margin-bottom: 0;
		}
		div.wrap {
			padding: 3px 0;
			margin: 0;
		}
		a {
			font-size: 1em;
			
			.icon-space {
				font-size: 2em;
				&:first-child {
					margin-right: 15px;
				}
			}
		}
	}
}